
<div class="col-xs-12">
    <h1>Scrapping With Cookies</h1>
    <p>If the page you are trying to scrape is not public or require you to login then you might need to add something to the header request. A cookie for example.</p>
    <p>To add cookie to your request, first you need to login to the website you want to scrape.</p>
    <p>Then go to the page you want to scrape and open up the developer tools. Go to <b>Network tab</b> select the page and select the <span class="red">cookie</span> tab. Copy these values and set this to <span class="red">HeaderRequest</span> table. See screenshot below</p>
    <p><img src="~/Wiki/cookie.png" class="img-responsive" /></p>
    <p class="t1">
        <img src="~/Wiki/cookie_table.png" class="img-responsive" />
        <div class="t1"><i>Category has ENUM and it's in <b>HeaderRequestType.cs</b></i></div>
    </p>
</div>

