<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Loan Amount</th>
            <th></th>
            <th>Location</th>
            <th>Enabled</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cornelio Cawicaan</td>
            <td><input type="text" value="1000" readonly="readonly" class="form-control" /></td>
            <td><img src="~/Images/code-drag.png" class="img-responsive" data-id="1" /></td>
            <td>
                <select class="form-control">
                    <option value="0" selected="selected">Baras</option>
                    <option value="1">Binangonan</option>
                    <option value="2">New Zealand</option>
                </select>
            </td>
            <td><input type="checkbox" checked="checked" /></td>
            <td><a href="http://www.corneliocawicaan.co.nz">View</a></td>
        </tr>
        <tr>
            <td>Jona Pereira</td>
            <td><input type="text" value="500" readonly="readonly" class="form-control" /></td>
            <td><img src="~/Images/code-drag.png" class="img-responsive" data-id="2" /></td>
            <td>
                <select class="form-control">
                    <option value="0">Baras</option>
                    <option value="1"  selected="selected">Binangonan</option>
                    <option value="2">New Zealand</option>
                </select>
            </td>
            <td><input type="checkbox" checked="checked" /></td>
            <td><a href="http://www.jonapereira.co.nz">View</a></td>
        </tr>
        <tr>
            <td>Niyana Cawicaan</td>
            <td><input type="text" value="0" readonly="readonly" class="form-control" /></td>
            <td><img src="~/Images/code-drag.png" class="img-responsive" data-id="2" /></td>
            <td>
                <select class="form-control">
                    <option value="0">Baras</option>
                    <option value="1">Binangonan</option>
                    <option value="2"  selected="selected">New Zealand</option>
                </select>
            </td>
            <td><input type="checkbox" /></td>
            <td><a href="http://www.niyanacawicaan.co.nz">View</a></td>
        </tr>
    </tbody>
</table>

<div>
    <h4>Total: 3</h4>
</div>