
<div class="col-md-6">
    <h1>Setting Up New Project</h1>
    <p>To setup the project. Copy any existing <b>Access database</b> from any of your previous project</p>
    <p>You may want to run the macro <b>Delete Data</b>. This will just run the two queries to delete the data.</p>
    <p><img src="~/Wiki/clear-data.png" /></p>
    <p>Change the Connection string from <b>app.config / web.config</b> </p>
</div>


