
<div class="col-md-6">
    <h1>Selectors and XPaths</h1>
    <h3>Getting the First Element From the Html Node</h3>
    <p>If the element you want to scrape only contains a class that also exists on the other element but you are only interested with the first element, you can use <b>:first-child</b> selector. Example <span class="red">_scrapper.ItemXPath = ".body-content table:first-child";</span></p>
</div>


