@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wiki</h1>
    <p class="lead">All the things you need to know about scrapping the website</p>
</div>

<div class="row">
    @Html.Partial("_NewProject")
    @Html.Partial("_PageListScrapping")
    @Html.Partial("_Selectors")
</div>

<div class="row">
    @Html.Partial("_Cookies")
</div>

@*<div id="Users">

    </div>

    @section scripts {
        <script>
            $.ajax({
                url: '/Home/GetUsers',
                method: 'GET',
                success: function (data) {
                    $.each(data, (i, v) => {
                        $('#Users').append('<div>' + v + '</div>')
                    })

                }
            });
        </script>
        }*@